target/
project/
scala-pink/stack-vm.scala.CEK
scala-pink/trace.log
*.iml
*.xml
*.bbl
*.blg
*.log
*.error
*.aux
*.tex.bak
scala-pink/src/main/scala/cesk.scala
lit_review.out
lit_review.synctex.gz
scala-pink/src/main/scala/archive/cesk.scala
.vscode/
lit_review.wcdetail
lit_review-chars.sum
lit_review-words.sum
